HOST=0.0.0.0
PORT=4000

# 东京服务器共享 PostgreSQL
DATABASE_URL="postgresql://wewe_rss_user:change-me@infra-postgres:5432/wewe_rss_prod?schema=public&sslmode=disable"

AUTH_CODE=change-me
SERVER_ORIGIN_URL=https://wewerss.nekokekun.com
FEED_MODE=
CRON_EXPRESSION="35 5,17 * * *"
MAX_REQUEST_PER_MINUTE=60
UPDATE_DELAY_TIME=60
ENABLE_CLEAN_HTML=false
PLATFORM_URL="https://weread.111965.xyz"
