HOST=0.0.0.0
PORT=4000

# 本地开发默认连接 Docker Postgres
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54330/wewe_rss?schema=public"

AUTH_CODE=change-me
SERVER_ORIGIN_URL=http://localhost:4000
FEED_MODE=
CRON_EXPRESSION="35 5,17 * * *"
MAX_REQUEST_PER_MINUTE=60
UPDATE_DELAY_TIME=60
ENABLE_CLEAN_HTML=false
PLATFORM_URL="https://weread.111965.xyz"
